<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMReportSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TMReportSource.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="OutOfScope" serializeAs="String">
                <value>Out Of Scope</value>
            </setting>
            <setting name="OutOfScopeReason" serializeAs="String">
                <value>Reason For Out Of Scope</value>
            </setting>
        </TMReportSource.Properties.Settings>
    </userSettings>
</configuration>